@page "/contact"
@inherits MyContactPageBase

<div class="col-md-6 offset-md-3 mb-3">

    <PageTitle Title="@L["Contact:PageTitle"]" />
    <br>

    <div class="card text-center rounded-border">
        <div class="card-body">
            <p class="card-text">
                <i class="fas fa-map-marker-alt"></i>
                <span class="m12"><span hidden>@L["Address"]: </span>Espanstrasse 78, 90765 Fürth
                    (@L["Contact:Country"])</span>
                <br>
                <br>
                <i class="fas fa-mobile-alt"></i>
                <span class="m12"><span hidden>@L["Contact:MobilePhone"]: </span>+49 (0)1522 360 82 78</span>
                <br>
                <br>
                <i class="fas fa-envelope"></i>
                <span class="m12"><span hidden>@L["Email"]: </span>bartvanhoey@hotmail.com</span>
                <br>
                <br>
                <i class="fas fa-link"></i>
                <a href="https://bartvanhoey.github.io/" class="m12">bartvanhoey.github.io</a>
            </p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>