@page "/contact"
@inherits MyContactPageBase

<PageTitle Title="@L["Contact:PageTitle"]" />
<br>
<i class="fas fa-map-marker-alt"></i>
<span class="m12"><span hidden>@L["Address"]: </span>Espanstrasse 78, 90765 Fürth
    (@L["Contact:Country"])</span>
<br>
<br>
<i class="fas fa-mobile-alt"></i>
<span class="m12"><span hidden>@L["Contact:MobilePhone"]: </span>+49 (0)1522 360 82 78</span>
<br>
<br>
<i class="fas fa-envelope"></i>
<span class="m12"><span hidden>@L["Email"]: </span>bartvanhoey@hotmail.com</span>
<br>
<br>
<i class="fas fa-link"></i>
<a href="https://bartvanhoey.github.io/" class="m12">bartvanhoey.github.io</a>
<br>
<br>
<br>
<br>
