@page "/education"
@inherits MyEducationBase

<PageTitle Title="Training & Education" />
<br>
<TemplatedList Loader="@LoadTrainingAndEducationAsync" ListGroupClass="templated-list"  >
     <Loading>Loading...</Loading>
    <Empty>
        <h2>No Training or Education</h2>
    </Empty>
    <Item Context="item">
        <p>
          <h4 style="padding-right: 2px;">@item.Subject</h4>
          <span style="display: inline;">@item.OrganizedBy,
              <a href="#">@item.Location (@item.Duration)</a>
          </span>
          @if (!string.IsNullOrEmpty(@item.Url))
          {
              <p>
                  <i class="fas fa-link"></i><a  class="m12" href="@item.Url" target="_blank" > You can find it here...</a>
              </p>
          }
          </p>
    </Item>
</TemplatedList>
<br>
<br>
<br>
<br>
<br>