@page "/"
@inherits MyAboutPageBase
@inject ILanguageContainerService loc
<PageTitle Title="@loc.Keys["About:Title"]" />
<br>

<div class="row">
  <div class="col-md-3 mb-3">
    <div class="profile-image text-center mx-auto">
        <img src="\img\bartvanhoey-175x175.png" alt="Bart Van Hoey" class="rounded">
    </div>
  </div>
  <div class="col-md-6 mb-3">
    @if (@CultureCode == "de-DE")
    {
       @loc.Keys["About:P1001"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@loc.Keys["About:P1002"]</a> @loc.Keys["About:P1003"]   
    }
    else
    {
    <p>
     @loc.Keys["About:P1001"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@loc.Keys["About:P1002"]</a> @loc.Keys["About:P1003"] 
    </p>    
    }
    
    
    <p>
      @loc.Keys["About:P2001"]
    </p>
    <p>
      <a href="http://aurelia.io/docs/">Aurelia</a> @loc.Keys["About:P3001"] <a href="https://angular.io/">Angular</a> @loc.Keys["About:P3002"]
    </p>
    <p>
      @loc.Keys["About:P4001"] <a href="https://about.gitlab.com/">GitLab</a> @loc.Keys["About:P4002"]
    </p>
    <p>
      @loc.Keys["About:P5001"] <a href="https://www.youtube.com/watch?v=5koPpYVa020">clean code</a> @loc.Keys["About:P5002"]
    </p>
    <p>
      @loc.Keys["About:P6001"] <a href="https://en.wikipedia.org/wiki/Document-oriented_database">document databases</a> @loc.Keys["About:P6002"]
    </p>
    <p>
       @loc.Keys["About:P7001"]<a href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank">@loc.Keys["About:P7002"]</a> @loc.Keys["About:P7003"]
    </p>
    <p>
     @loc.Keys["About:P8001"] <a href="https://marketplace.visualstudio.com/items?itemName=BartVanHoey.blazory">Blazory</a>, @loc.Keys["About:P8002"] <a href="https://marketplace.visualstudio.com/vscode">Visual Studio Marketplace</a> @loc.Keys["About:P8003"]  @loc.Keys["About:P8004"] <a href="https://altandenter.github.io/">altandenter.github.io</a>, @loc.Keys["About:P8005"]
    </p>
    <p>
      @loc.Keys["About:P9001"] <a href="https://developers.google.com/web/progressive-web-apps/">Blazor WASM progressive web app</a> @loc.Keys["About:P9002"]
    </p>
  </div>
  <div class="col-md-3 mb-3">
    
  </div>
</div>
<br>
<br>  
<br>  
<br>  