@page "/"
@inherits MyAboutPageBase

<PageTitle Title="@L["About:PageTitle"]" />
<br>

<div class="row">
  <div class="col-md-3 mb-3">
    <div class="profile-image text-center mx-auto">
        <img src="\img\bartvanhoey-175x175.png" alt="Bart Van Hoey" class="rounded">
    </div>
  </div>
  <div class="col-md-6 mb-3">
    @if (@CultureCode == "de-DE")
    {
       <p>
         @L["About:P1001"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@L["About:P1002"]</a> @L["About:P1003"]   
       </p>
    }
    else
    {
      <p>
      @L["About:P1001"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@L["About:P1002"]</a> @L["About:P1003"] 
      </p>    
    }
    <p>
      @L["About:P2001"]
    </p>
    <p>
      <a href="http://aurelia.io/docs/">Aurelia</a> @L["About:P3001"] <a href="https://angular.io/">Angular</a> @L["About:P3002"]
    </p>
    <p>
      @L["About:P4001"] <a href="https://about.gitlab.com/">GitLab</a> @L["About:P4002"]
    </p>
    <p>
      @L["About:P5001"] <a href="https://www.youtube.com/watch?v=5koPpYVa020">clean code</a> @L["About:P5002"]
    </p>
    <p>
      @L["About:P6001"] <a href="https://en.wikipedia.org/wiki/Document-oriented_database">document databases</a> @L["About:P6002"]
    </p>
    <p>
       @L["About:P7001"] <a href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank">@L["About:P7002"]</a> @L["About:P7003"]
    </p>
    <p>
     @L["About:P8001"] <a href="https://marketplace.visualstudio.com/items?itemName=BartVanHoey.blazory">Blazory</a>, @L["About:P8002"] <a href="https://marketplace.visualstudio.com/vscode">Visual Studio Marketplace</a> @L["About:P8003"]  @L["About:P8004"] <a href="https://altandenter.github.io/">altandenter.github.io</a>, @L["About:P8005"]
    </p>
    <p>
      @L["About:P9001"] <a href="https://developers.google.com/web/progressive-web-apps/">Blazor WASM progressive web app</a> @L["About:P9002"]
    </p>
  </div>
  <div class="col-md-3 mb-3">
    
  </div>
</div>
<br>
<br>  
<br>  
<br>  