@page "/"
@inherits MyAboutPageBase
@inject ILanguageContainerService loc
<PageTitle Title="@loc.Keys["AboutTitle"]" />
<br>

@CultureCode

<div class="row">
  <div class="col-md-3 mb-3">
    <div class="profile-image text-center mx-auto">
        <img src="\img\bartvanhoey-175x175.png" alt="Bart Van Hoey" class="rounded">
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <p>
     @loc.Keys["AboutP1001"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@loc.Keys["AboutP1002"]</a> @loc.Keys["AboutP1003"] 
    </p>
    <p>
      @loc.Keys["AboutP2001"]
    </p>
    <p>
      <a href="http://aurelia.io/docs/">Aurelia</a> @loc.Keys["AboutP3001"] <a href="https://angular.io/">Angular</a> @loc.Keys["AboutP3002"]
    </p>
    <p>
      @loc.Keys["AboutP4001"] <a href="https://about.gitlab.com/">GitLab</a> @loc.Keys["AboutP4002"]
    </p>
    <p>
      @loc.Keys["AboutP5001"] <a href="https://www.youtube.com/watch?v=5koPpYVa020">clean code</a> @loc.Keys["AboutP5002"]
    </p>
    <p>
      @loc.Keys["AboutP6001"] <a href="https://en.wikipedia.org/wiki/Document-oriented_database">document databases</a> @loc.Keys["AboutP6002"]
    </p>
    <p>
       @loc.Keys["AboutP7001"]<a href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank">@loc.Keys["AboutP7002"]</a> @loc.Keys["AboutP7003"]
    </p>
    <p>
     @loc.Keys["AboutP8001"] <a href="https://marketplace.visualstudio.com/items?itemName=BartVanHoey.blazory">Blazory</a>, @loc.Keys["AboutP8002"] <a href="https://marketplace.visualstudio.com/vscode">Visual Studio Marketplace</a> @loc.Keys["AboutP8003"]  @loc.Keys["AboutP8004"] <a href="https://altandenter.github.io/">altandenter.github.io</a>, @loc.Keys["AboutP8005"]
    </p>
    <p>
      @loc.Keys["AboutP9001"] <a href="https://developers.google.com/web/progressive-web-apps/">Blazor WASM progressive web app</a> @loc.Keys["AboutP9002"]
    </p>
  </div>
  <div class="col-md-3 mb-3">
    
  </div>
</div>
<br>
<br>  
<br>  
<br>  