@page "/"
@inject ILanguageContainerService loc
<PageTitle Title="@loc.Keys["AboutTitle"]" />
<br>
<div class="row">
  <div class="col-md-3 mb-3">
    <div class="profile-image text-center mx-auto">
        <img src="\img\bartvanhoey-175x175.png" alt="Bart Van Hoey" class="rounded">
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <p>
     @loc.Keys["AboutP1Start"] <a href="https://www.mobyus.be/nl/graduaten/informatica">@loc.Keys["AboutP1Link"]</a> @loc.Keys["AboutP1End"] 
    </p>
    <p>
      @loc.Keys["AboutP2Start"]
    </p>
    <p>
      <a href="http://aurelia.io/docs/">Aurelia</a> @loc.Keys["AboutP3Start"] <a href="https://angular.io/">Angular</a> @loc.Keys["AboutP3End"]
    </p>
    <p>
      @loc.Keys["AboutP4Start"] <a href="https://about.gitlab.com/">GitLab</a> @loc.Keys["AboutP4End"]
    </p>
    <p>
      @loc.Keys["AboutP5Start"] <a href="https://www.youtube.com/watch?v=5koPpYVa020">clean code</a> @loc.Keys["AboutP5End"]
    </p>
    <p>
      @loc.Keys["AboutP6Start"] <a href="https://en.wikipedia.org/wiki/Document-oriented_database">document databases</a> @loc.Keys["AboutP6End"]
    </p>
    <p>
       @loc.Keys["AboutP7Start"]<a href="https://www.youtube.com/c/Csharp-video-tutorialsBlogspot/featured" target="_blank">@loc.Keys["AboutP7Link"]</a> @loc.Keys["AboutP7End"]
    </p>
    <p>
     @loc.Keys["AboutP8Start"] <a href="https://marketplace.visualstudio.com/items?itemName=BartVanHoey.blazory">Blazory</a>, @loc.Keys["AboutP8Blazory"] <a href="https://marketplace.visualstudio.com/vscode">Visual Studio Marketplace</a> @loc.Keys["AboutP8BlazorSnippets"]  @loc.Keys["AboutP8Maintainer"]<a href="https://altandenter.github.io/">altandenter.github.io</a> @loc.Keys["AboutP8BlogAbout"]
    </p>
    <p>
      @loc.Keys["AboutP9Start"] <a href="https://developers.google.com/web/progressive-web-apps/">Blazor WASM progressive web app</a> @loc.Keys["AboutP9End"]
    </p>
  </div>
  <div class="col-md-3 mb-3">
    
  </div>
</div>
<br>
<br>  
<br>  
<br>  