@page "/blog"
@inherits MyBlogBase

<PageTitle Title="@L["Blog:PageTitle"]" />
<br>
@* <TemplatedList Loader="@LoadExperiencesAsync" ListGroupClass="templated-list"  >
     <Loading>Loading...</Loading>
    <Empty>
        <h2>No Experiences</h2>
    </Empty>
    <Item Context="item">
        <p>
        <h4 style="display: inline; padding-right: 2px;">@item.Title</h4>
        <span style="display: inline;">- @item.Company,
            <a href="#">@item.City (@item.Duration)</a>
        </span>
        </p>
        <p>
            @item.Description 
        </p>
    </Item>
</TemplatedList> *@
<br>
<br>
<br>
<br>
<br>
