@inherits  NavMenuBase
@inject ILanguageContainerService L

@* <nav class="navbar navbar-expand-md navbar-dark navbar-custom"> *@
<nav class="navbar navbar-expand-md navbar-light bg-ligh navbar-custom blue">
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" data-toggle="collapse" 
            data-target="#navbarTogglerBartVanHoey" aria-controls="navbarTogglerBartVanHoey" 
                aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="">@L["Menu:Menu"]</a>
    <div class="@NavMenuCssClass navbar-collapse" id="navbarTogglerBartVanHoey" @onclick="ToggleNavMenu">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    @L["Menu:About"]
                </NavLink>
            </li>
             <li class="nav-item">
                <NavLink class="nav-link" href="blog">
                   @L["Menu:Blog"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="experience">
                   @L["Menu:Experience"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="education">
                   @L["Menu:Education"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="languages">
                   @L["Menu:Languages"]
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="contact">
                    @L["Menu:Contact"]
                </NavLink>
            </li>
        </ul>
        <ul class="navbar-nav form-inline my-2 my-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdownId" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@SelectedLanguage</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    @foreach (var language in Languages)
                    {
                        <a class="dropdown-item" href="#" @onclick="@(() => ChangeLanguageAsync(language.CultureCode))">@language.Display</a>
                    }
                </div>
            </li>
        </ul>
    </div>
</nav>
